.App {
  background-image: url("img/backgrounds/slide_one.jpg");
  background-size: cover;
  min-height: 100vh; /* Nice to not have to think about the HTML element parent */
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.max-width-1440 {
  max-width: 1440px;
}

.layout {
  display: inline-block;
  margin: 25px 10%;
  height: 18vh;
}

.page {
  height: 60vh;
  flex-direction: row;
  position: relative;
  vertical-align: middle;
}

.right {
  width: 50%;
  float: right;
}

.left {
  width: 50%;
  float: left;
}

.verticle {
  display: flex;
  flex-direction: column;
}
.App-logo {
  pointer-events: none;
  width: 4.728rem;
  height: 2.363rem;
  object-fit: contain;
  background-color: var(--white);
  margin-bottom: 20px;
}
.menu-btn {
  margin: 5px;
  text-align: left;
  background-color: Transparent;
  color: white;
  border: white;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
}
/* .menu::after {
  background-color: tomato;
} */

#menu-box {
  display: flex;
  flex-direction: column;
}
#call-to-action {
  height: 12vh;
  background-color: white;
  /* height: 10vw; */
  width: 80vw;
  bottom: 0;
  position: absolute;
  left: 10%;
}
#contactUs {
  background-color: Transparent;
  color: white;
  width: 8.688rem;
  height: 2.625rem;
  padding: 0.75rem 0.063rem 0.75rem 0;
  border: solid 2px white;
  float: right;
}

#headline {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  vertical-align: middle;
  width: 50vw;
  font-family: HelveticaNeue;
  font-size: 5.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2.2px;
  color: white;
}
#subhead {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(100%, -50%);
  width: 50vw;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  line-height: 1.86;
  color: white;
}

#LETS-TALK {
  display: inline-block;
  margin-top: 40px;
  height: 100%;
  font-family: HelveticaNeue;
  font-size: 0.688rem;
  font-weight: 500;
  letter-spacing: 1px;
}
#cta-text {
  display: inline-block;
  align-items: center;
  height: 100%;
  font-family: HelveticaNeue;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.63px;
}
