.App {
  background-image: url("img/backgrounds/slide_one.jpg");
  background-size: cover;
  min-height: 100vh; /* Nice to not have to think about the HTML element parent */
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* .container {
  margin: 20px 20px 0 20px;
} */
.layout {
  margin: 25px 10%;
  height: 30vh;
}
.page {
  height: 70vh;
}
.right {
  width: 50%;
  float: right;
}
.left {
  width: 50%;
  float: left;
}
.verticle {
  display: flex;
  flex-direction: column;
}
.App-logo {
  pointer-events: none;
  width: 4.728rem;
  height: 2.363rem;
  object-fit: contain;
  background-color: var(--white);
  margin-bottom: 20px;
}
.menu-btn {
  margin: 5px;
  text-align: left;
  background-color: Transparent;
  color: white;
  border: white;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
}
/* .menu::after {
  background-color: tomato;
} */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
#menu-box {
  display: flex;
  flex-direction: column;
}
#call-to-action {
  background-color: white;
  height: 10vw;
  width: 80vw;
  bottom: 0;
  position: absolute;
  left: 10%;
}
#contactUs {
  background-color: Transparent;
  color: white;
  width: 8.688rem;
  height: 2.625rem;
  padding: 0.75rem 0.063rem 0.75rem 0;
  border: solid 2px white;
  float: right;
}
#headline {
  width: 38.25rem;
  height: 17rem;
  font-family: HelveticaNeue;
  font-size: 5.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -2.2px;
  color: white;
}

#LETS-TALK {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: HelveticaNeue;
  font-size: 0.688rem;
  font-weight: 500;
  letter-spacing: 1px;
}
#cta-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: HelveticaNeue;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.63px;
}
/* 
.Nemo-enim-ipsam-volu {
  width: 30.188rem;
  height: 2rem;
  margin: 0 13.75rem 0 0;
  font-family: HelveticaNeue;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.63px;
  color: var(--black);
}

#abc {
  width: 4.728rem;
  height: 2.363rem;
  margin: 0 44.043rem 15.958rem 0.166rem;
  object-fit: contain;
  background-color: var(--white);
}

#subhead {
  width: 22.5rem;
  height: 14.188rem;
  margin: 11.563rem 2.5rem 4.313rem 10.688rem;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--white);
}
#headline {
  width: 38.25rem;
  height: 17rem;
  margin: 10.125rem 10.688rem 2.938rem 0;
  font-family: HelveticaNeue;
  font-size: 5.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
  color: var(--white);
}*/
/* #menu {
  width: 4.563rem;
  height: 4.875rem;
  margin: 0.313rem 59.875rem 0 0;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--white);
}  */
/*
.menu .text-style-1 {
  color: #ffc004;
}
.logo {
  width: 4.728rem;
  height: 2.363rem;
  margin: 0 44.043rem 15.958rem 0.166rem;
  object-fit: contain;
  background-color: var(--white);
} */
